# Importando o Pandas

In [103]:
import pandas as pd
from pandas import Series, DataFrame

# Importando nossa base de dados

In [50]:
dados = pd.read_csv('messi.csv', encoding='ISO-8859-1', sep=';')
pd.set_option('display.max_rows', 1000)
dados.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Minute,Type,Goal_assist
0,2004/05,La Liga,34,01/05/2005,H,FC Barcelona,Albacete Balompié,90+1,Left-footed shot,Ronaldinho
1,2005/06,UEFA Champions League,Group Stage,02/11/2005,H,FC Barcelona,Panathinaikos Athens,34,Left-footed shot,NaN
2,2005/06,La Liga,13,27/11/2005,H,FC Barcelona,Racing Santander,51,Left-footed shot,Samuel Eto'o
3,2005/06,La Liga,19,15/01/2006,H,FC Barcelona,Athletic Bilbao,50,Left-footed shot,Mark van Bommel
4,2005/06,La Liga,20,22/01/2006,H,FC Barcelona,Deportivo Alavés,82,Left-footed shot,Ronaldinho

Utilizei o padrão ISO-8859-1 para codificar os caracteres do database.

# Gols por competição

In [49]:
compet = dados['Competition'].value_counts()
pd.DataFrame(compet).head(10)

                       Competition
La Liga                        474
UEFA Champions League          129
Copa del Rey                    56
Ligue 1                         24
Supercopa                       14
FIFA Club World Cup              5
UEFA Super Cup                   3
Trophée des Champions            2

Messi é o maior artilheiro da história de La Liga e o segundo maior da Champions.

# Os 10 maiores 'garçons' de Lionel Messi

In [48]:
assist = dados['Goal_assist'].value_counts()
pd.DataFrame(assist).head(10)

                 Goal_assist
Luis Suárez               48
Dani Alves                42
Andrés Iniesta            39
Xavi Hernández            34
Neymar                    30
Pedro Rodríguez           29
Jordi Alba                23
Ivan Rakitic              19
Sergio Busquets           19
Cesc Fàbregas             14

Luis Suárez foi quem deu mais assistências para os gols de Messi. Sem dúvidas, os dois fizeram uma das melhores duplas da história do futebol.

# Temporadas mais goleadoras

In [102]:
season = dados['Season'].value_counts()
pd.DataFrame(season).head()

         Season
2011/12      73
2012/13      60
2014/15      58
2016/17      54
2010/11      53

O Messi de 2011/12 foi apelação. Estabeleceu o recorde de mais gols em uma única temporada do futebol europeu.

# Maiores vítimas do gênio argentino

In [52]:
mais_gols = dados['Opponent'].value_counts()
pd.DataFrame(mais_gols).head(10)

                    Opponent
Sevilla FC                38
Atlético de Madrid        32
Valencia CF               31
Athletic Bilbao           29
Real Madrid               26
Real Bétis                26
RCD Espanyol              25
CA Osasuna                25
Levante UD                24
Getafe CF                 21

Detalhe: Messi é o maior artilheiro do grande El Clasico entre Barcelona e Real Madrid.

# Percentual dos gols

In [55]:
mais_gols = dados['Opponent'].value_counts(normalize=True)*100
pd.DataFrame(mais_gols).head(10)

                    Opponent
Sevilla FC          5.374823
Atlético de Madrid  4.526167
Valencia CF         4.384724
Athletic Bilbao     4.101839
Real Madrid         3.677511
Real Bétis          3.677511
RCD Espanyol        3.536068
CA Osasuna          3.536068
Levante UD          3.394625
Getafe CF           2.970297

# Top 5 vítimas em La Liga

In [104]:
x = dados[dados['Competition']== 'La Liga']
pd.DataFrame(x['Opponent'].value_counts()).head()

                    Opponent
Sevilla FC                30
Valencia CF               27
Atlético de Madrid        26
CA Osasuna                23
Levante UD                23

# Top 5 vítimas na UEFA Champions League

In [96]:
x = dados[dados['Competition']== 'UEFA Champions League']
pd.DataFrame(x['Opponent'].value_counts()).head()

                     Opponent
Arsenal FC                  9
Celtic FC                   8
AC Milan                    8
Manchester City             7
Bayer 04 Leverkusen         7